{% extends "/layout.html" %}
{% block body %} 
<div style="margin-right:20px; margin-left:20px; margin-top:10px;">
<form action="{{ url_for('index')}}" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="inputDil" class="col-sm-1 col-form-label">DIL:</label>
        <div class="col-sm-2">
            <input name='dil' type="dil" class="form-control" id="dil" placeholder="Dil:" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputDil" class="col-sm-1 col-form-label">VOL:</label>
        <div class="col-sm-2">
            <input name='vol' type="vol" class="form-control" id="vol" placeholder="Vol:" required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<hr>
{% if result[0] != "" and result[0] != ""%}
    <p> Vol: {{result[1]}} </p>
    <p> PBS: {{result[0]}} </p>
{% endif %}
</div>

{% endblock %} 